<div class="flex w-full h-20 fixed top-0 p-16">
  <a href="https://github.com/yunggindigo" class="ml-auto text-gray-200 cursor-pointer"> <i class="fab fa-github text-3xl"></i></a>
  <a href="https://www.linkedin.com/in/enoch-tamulonis/" class="ml-6 text-gray-200 cursor-pointer"> <i class="fab fa-linkedin text-3xl"></i></a>
</div>
